<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Vendedores</h1>
      </ion-header-bar>
      
      <ion-content ng-controller="vendedorCtrl">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        
        <div class="list" >
          <label class="item item-input item-floating-label">
            <span class="input-label">Usuario</span>
            <input type="text" placeholder="Usuario" ng-model="usuario">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="Contraseña" ng-model="contrasena">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Nombre" ng-model="nombre">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Teléfono</span>
            <input type="text" placeholder="Telefono" ng-model="telefono">
          </label> 
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="correo">
          </label>
          
          <button class="button button-block button-positive" ng-click="GuardarVendedor()">Crear cuenta</button>
          
          <!--<p>{{ guardar() }}</p>-->
          
          <ul class="list">
            <li ng-repeat="x in names" class="item">{{ x.Nombre + ', ' + x.Usuario }}</li>
          </ul>
        </div>

      </ion-content>
    </ion-pane>
    
  </body>
</html>
